.center{
  margin-top: -50px;
  display: flex;
  padding-bottom: 350px;
  justify-content: center;
}

.dot {
  margin-top: 230px;
  margin-right: 110px;
    height: 210px;
    width: 210px;
    background-color: lightblue;
    border-radius: 50%;
    z-index: 10000;
    text-align: center;
    display: inline-block;
    position: absolute;
    text-align: center;
    align-items: center;
    z-index: 0;
}
  
a{
	text-decoration: none !important;
	color:black !important;
}
.dotArancione{
    margin-top: 45px;
    margin-left: 15px;
    height: 210px;
    width: 210px;
    background-color: #ffc1c1;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: -100;   
}

.spanHome{
  text-align: center;
/*   font-family: 'intro_script_demomedium'; */
  font-size: 7.5em;
  z-index: 999;
  position: absolute;
  margin-top: 260px;
  z-index: 800;
  animation-duration: 2s;
  animation-name: entraTesto;
  color: white;
  font-family: ubuntu;
  text-shadow: 0 0 15px #000;
}

.parteFinaleHome{
	text-align: center;
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
}

.uname{
	padding-left: 8px;
	width: 170px;
	height: 60px;
	font-size: 30px;
	border-color: #2f2f2f;
	border: 2px solid #2f2f2f;
	background-color: #FCEFD4;
	border-radius: 17px;
	cursor:pointer;
	text-align:center;
} 

.uname{
	text-decoration: none;
	border: 1px solid #ffc1c1;
	border-radius: 2em;
	font-size: 1em;
	color: black;
	background-color: #ffc1c1;
	font-weight: normal;
	text-align:center;
	width: 40%;
	padding: 10px;
    margin: 2px;
    justify-content:space-around;
    width:30%%;

}

.uname:hover {
	color:black;
	font-color:white;
	background-color:lightblue;
	transition:0.3s;
	cursor: pointer;
	border: lightblue;
}

@keyframes entraTesto{
	0% {
	margin-top: -800px;
	}
					
	100% {
	margin-top: 260px;
	}
	}
	
	@keyframes slideIn {
	0% {
	width: 0%;
	}
					
	100% {
	width: 50%;
	}
}

.wave-sx {
  z-index: -100;  
  width: 300px;
  width: 50%;
   border: 1px solid #2f2f2f;
  animation-duration: 2s;
  animation-name: slideIn;
  margin-top: 385px;
} 


@keyframes entra{
				  0% {
				    margin-top: -800px;
				  }
				
				  100% {
				    margin-top: 400px;
				  }
				}

					@media screen and (max-width:800px){
					.parteSinistraHome{
						display:flex;
						justify-content:center;
					}

					.parteDestraHome{
						display: none;
					}
	
.spanHome{
  font-size: 5rem;
  text-shadow: 0 0 15px #000;
}

.center{
  margin-top: -50px;
  display: flex;
  padding-bottom: 700px;
  justify-content: center;
}

.dot {
  	margin-top: 230px;
  margin-right: 110px;
    height: 150px;
    width: 150px;
    background-color: #ffc1c1;
    border-radius: 50%;
    z-index: 10000;
    text-align: center;
    display: inline-block;
    position: absolute;
    text-align: center;
    align-items: center;
    z-index: 0;
  }

.dotArancione{
    margin-top: 37px;
    margin-left: 15px;
    height: 150px;
    width: 150px;
    background-color: lightblue;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: -100;   
}



					@keyframes slideIn {
					  0% {
					    width: 0%;
					  }
					
					  100% {
					    width: 70%;
					  }
					}

.wave-sx {
  z-index: -100;  
  width: 300px;
  width: 70%;
  border: 1px solid #2f2f2f;
  animation-duration: 2s;
  animation-name: slideIn;
  margin-top: 100px;
  margin-top: 338px;
}
	




				@keyframes entra{
				  0% {
				    margin-top: -800px;
				  }
				
				  100% {
				    margin-top: 360px;
				  }
				}
				}



			@media (max-width: 480px){
			.parteSinistraHome{
				display:flex;
				justify-content:center;
			}
			
			.parteDestraHome{
				display: none;
			}
				
			.dotRosa{
					display:none;
			}
				
			.dotVerde{
					display:none;
			}	

			@keyframes slideIn {
			  0% {
			    width: 0%;
			  }
			
			  100% {
			    width: 90%;
			  }
			}



.wave-sx {
  z-index: -100;  
  width: 300px;
  width: 90%;
  border: 1px solid #2f2f2f; 
  animation-duration: 2s;
  animation-name: slideIn;
  margin-top: 100px;
  margin-top: 338px;
}
	
					@keyframes entraTesto{
				  0% {
				    margin-top: -800px;
				  }
				
				  100% {
				    margin-top: 275px;
				  }
				}

.spanHome{
  text-align: center;
  font-family: 'intro_script_demomedium';
  font-size: 4.5rem;
  z-index: 999;
  position: absolute;
  margin-top: 225px;
  z-index: 800;
  animation-duration: 2s;
  animation-name: entraTesto;
}
	
	
					@keyframes entra{
					  0% {
					    margin-top: -800px;
					  }
					
					  100% {
					    margin-top: 355px;
					  }
					}
						
} 